<% include ../partials/header %>
  
<section>
  <div class="new-strain">
    <a class="btn btn-outline-success" href="/strains/new">New Strain</a>
  </div>

  <div class="row">

    <% for ( let strain of strains ) { %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <% if ( strain.image ) { %>
              <div class="image">
                <img src="/images/<%= strain.image %>" class="img-thumbnail img-fluid">
              </div>
            <% } %>
            <h5 class="card-title">
              <%= strain.name %>
            </h5>

            <p>
              <%= strain.cannabisType %>
            </p>
            
            <p>
              $<%= strain.price %>/gram
            </p>
            
            <div class="actions">
              <a href="/strains/<%= strain.id %>" class="btn btn-outline-info">
                Show
              </a>

              <a href="/strains/<%= strain.id %>/edit" class="btn btn-outline-info">
                Edit
              </a>

              <form action="/strains/<%= strain.id %>/delete" method="post"  onsubmit="return confirm('Are you sure you want to remove this strain?');">
                <input type="hidden" name="id" value="<%= strain.id %>">
                <button type="submit" class="btn btn-outline-danger">Remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>
</section>

<% include ../partials/footer %>